h1{
    
    padding-top: 30px ;
    background-color: rgb(255, 255, 255);
    font-weight: 1000;
    color: rgb(239, 69, 146);
}
a{
    background: rgb(255, 233, 233);
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    text-decoration-color: rgb(14, 14, 15);
    color: rgb(239, 10, 113);
}
h4{
    font-weight: 000;
    color: rgb(13, 12, 13);
    font-weight: 600;
}